
*.xcuserstate

*.xcuserstate
KLHorizontalSelect.xcodeproj/xcuserdata/timominous.xcuserdatad/xcschemes/KLHorizontalSelect.xcscheme
KLHorizontalSelect.xcodeproj/xcuserdata/timominous.xcuserdatad/xcschemes/xcschememanagement.plist
